<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>srios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E1B654B2C21F0BC00C7E44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1B65602C21F0BE00C7E44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1B656A2C21F0BE00C7E44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
